<template name="comments">
  <div class="row">
    <form id="add_comment">
      <input type="text" name="comment" placeholder="Add a comment">
      <input type="hidden" name="photoId" value={{_id}}>
      <input class="button tiny" type="submit">
    </form>
  </div>
  {{#each comments}}
  <div class="row">
    <div class="row">
      <div class="small-6 columns each-comment">
        <div class="commment">
          <span class="username">{{commenter}}</span>:
          {{content}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</template>