<template name="photoPage">
  <a class="button tiny" href="/all">All</a>
  <a class="button tiny" href="/map">Map</a>
  <!-- <a href="/following">Good Art.</a> -->
  <div class="row">
    <div class="small-12 columns">
      <div id="mostRecentDiv">
        <img class="each-photo" src="{{url}}">
      </div>
    </div>
  </div>
<div>
</div>
  {{#if caption}}
  <div class="row">
    <span class="secondary radius label">{{caption}}</span>
  </div>
  {{#if caption}}
    <div class="row">
      <span class="secondary radius label">{{caption}}</span>
    </div>
  {{else}}
  <div class="row">
    <span id="submit-caption-container">{{> getCaption}}</span>
  </div>
  {{/if}}


  <div class="row">
    <div id="photo-info" class="label small-6 columns">Posted by: {{getPoster}} with {{getVotes}} upvotes
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns voting">
      {{> upvoteForm}}
    </div>
    <div id="unvote" class="small-6 columns voting">
      {{> downvoteForm}}
    </div>
    <div class="row">
      <div class="small-6 columns voting">
      <a class="button tiny" id="been-there" href="#">Been There</a>
    </div>
    </div>
    <div class="row">
      <div class="small-6 columns voting">
      <a id="tag-on-map" class="button tiny" href="/map?lat={{getLat}}&lng={{getLng}}">Tag on Map</a>
    </div>
    </div>
  {{> comments}}
</template>