html {
  height: 100%;
}

body {
  height: 100%;
  padding:0;
  margin: 0;
}

#map-canvas {
  height: 400px;
  width: 300px;
}

.each-photo {
  display: block;
  height: 450px;
  width: 300px;
}

#backimage {
  background: url("imgs/background.jpg");
  background-size: cover;
  padding-top: 375px;
  padding-bottom: 125px;
  opacity: .75;
  height: 450px;
  width: 450px;
}