html{
    min-height:100%;
    position:relative
}
body{
    height:100%
}

#map-canvas {
  margin-top: 5px;
  border: 2px solid #007F7F;
  border-radius: 5px;
  height: 695px;
  max-width: 100%;
}

/*
.each-photo {
  display: block;
  height: 450px;
  width: 300px;
}
*/

body {
  background-color: #d3d3d3;
  z-index:-1;
  /*background: url("");*/
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
}

.main-bg {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  background-color: #333;
  background: url("/imgs/ballon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
  /*z-index: 0;*/
  /*background-size: cover;
  height: 450px;
  width: 305px;
  position: left;*/
}

.camera-bg {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  background-color: #333;
  background: url("/imgs/mario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
  /*z-index: 0;*/
  /*background-size: cover;
  height: 450px;
  width: 305px;
  position: left;*/
}

.login-page {
  /*display: block;*/
  z-index: 1;
}

.button {
  border-radius: 5px;
}

input.button {
 border-radius: 5px;
}

#delete-account {
  max-width: 40%;
  margin-left: 20px;
}

#logout {
  max-width: 40%;
  margin-right: 20px;
}

/*
#our-logo {
  z-index: 5;
  position: relative;
  bottom: 60px;
  background: url("imgs/newlogo.png");
  height: 58.5px;
  width: 150px;
}

#login-buttons {
  position: fixed;
  top: 0;
  margin-top: 25px;
  margin-left: 20px;
}

#login-sign-in-link {
  color: blue;
  text-decoration: none;
}

div#login-buttons {
  cursor: pointer;
  text-decoration: none;
}

#main_visual_links {
  position: fixed;
  z-index: 5;
  background-color: rgb(90, 90, 90);
  opacity: .95;
  width: 110px;
  height: 568px;
  display: none;
}

table td {
  width: 110px;
  height: 135px;
  text-align: center;
}

table .top-needed {
  border-top: 3px solid green;
}

.toggle-menu {
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 8;
  padding-top: 15px;
  padding-left: 200px;
  opacity: .75;
}
*/


#mostRecentDiv img {
  max-height: 450px;
  /*width: 50%;*/
}

.main-preview {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 278px;
  max-height: 3%;
  margin-top: -7px;
  border: 5px ridge #d6d6d6;
}

.eachPhotoBelt {
  /*height: 80px;*/
  /*width: 305px;*/
  overflow-x: auto;
  /*overflow-y: hidden;*/
  /*border: .5px solid black;*/
  white-space: nowrap;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
}


.allPhotos {
  max-height: 100px;
  /*white-space: nowrap;*/
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*display:block;
  margin-left: auto;
  margin-right: auto;
  width: 278px;
  max-height: 3%;
  margin-top: -7px;*/
  /*border: 5px double #FFF;*/
  /*border: 5px ridge gray;*/
}

.photo-belt-main {
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 200px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.thumbnails {
  display: inline-block;
  max-height: 200px;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.photo-belt-container {
  background-color: black;
  border-radius: 4px;
  background: url("http://homesforunwantedgreyhounds.ie/wp-content/uploads/2014/03/dark-grey-background-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
  z-index: 0;
}

.icon-bar.bottom {
  position: fixed;
  bottom: 0;
  z-index: 9;
}

.button {
  background-color: #333333;
}

.each-photo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-top: 5%;
}

#test-links {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}

.profile-photos {
  display: none;
}

.been-there-user {
  display: none;
}

.manage-account {
  display: none;
  /*margin-left: 65px;*/
  margin-top: 30px;
}
.secondary {
  margin-top: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 30%;
}

#photo-info {
  background-color: #333333;
  font-size: 1.1em;
  margin-top: 15px;
  height: 30px;
  width: 90.6%;
  margin-left: 4.7%;
  /*margin-right: ;*/
}

#voter {
  margin-top: 15px;
  max-height: 30px;
}

.voting {
  width: 100%;
  margin-top: 3px;
}

#unvote {
  /*margin-top: -20px;*/
  width: 50%;
}

#onvote {
  width: 50%;
}

#login-dropdown-list {
  margin-left: -95px;
  max-width: 300px;
  margin-top: 100px;
}

div#login-dropdown-list {
  background-color: #333333;
  color: white;
  border: none;
}

#add_comment {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 90%;
}

.comments {
  background-color: #333333;
}

a.item:hover {
  background-color: #333333;
}

.button:hover {
  background-color: #333333;
}

.button.tiny.voting:hover {
  background-color: #0D7093;
}

form#add_caption {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#submit-caption-container {
  height: 100px;
}

#submit-caption {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#been-there {
  width: 40.5%;
  font-size: 1em;
  /*margin-bottom: 1px;*/
  /*background-color: purple;*/
  /*color: red;*/
  margin-top: -15px;
  margin-left: 15px;
}

#been-there:hover {
  background-color: #0D7093;
}

#tag-on-map {
  font-size: 1em;
  width: 40.5%;
  margin-top: -15px;
  margin-right: 15px;
  /*margin-top: -70px;*/
}

@font-face {
  font-family: street;
  src: url(street.ttf);
}

.each-comment {
  border-top: 1px solid black;
  width: 80%;
  margin-left: 9%;
  margin-bottom: 5px;
  padding-top: 5px;
}

.username {
  font-family: street;
  font-size: 1.3em;
  margin-left: 130px;
}

.username-main {
  font-family: street;
  font-size: 3em;
  margin-left: 130px;
}

.welcome {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

#wel {
  font-size: 1.4em;
}

a.login-link-text {
  text-decoration: none;
  color: #FFFFFF;
}

a#login-name-link {
 text-decoration: none;
 color: #FFFFFF;
}

html {
  margin-top: 20px;
}

.navbar-photo-page {
  margin-left: 13px;
  margin-top: 3px;
}

#like {
  font-size: 1em;
}

#not-upvote {
 font-size: 1em;
}

.commment {
  font-size: 1.3em;
  margin-left: -130px;
}

.caption {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: street;
  font-size: 2em;
}

.capture {
  max-width: 50%;
  margin-left: 100px;
  margin-top: 390px;
}

#welcome-header {
  margin-top: -23px;
}

#user-photos-check {
  font-family: street;
  font-size: 0.4em;
  color: #FFFFFF;
  max-width: 30%;
  margin: 5px;
}

#user-been-there {
  font-family: street;
  font-size: 0.4em;
  color: #FFFFFF;
  max-width: 30%;
  margin: 5px;
}

#user-manage-account {
  font-family: street;
  font-size: 0.4em;
  color: #FFFFFF;
  max-width: 30%;
  margin: 5px;
}