<template name="showMap">
  <div class="icon-bar four-up bottom">
    <a class="item" href="/map">
      <img class="main_link_img" src="/imgs/globe_64.png">
      <label>Map</label>
    </a>
    <a class="item" href="/all">
      <img class="main_link_img" src="/imgs/home_64.png">
      <label>All</label>
    </a>
    <a class="item" href="{{pathFor 'userProfile' _id='{{Meteor.user()._id}}' }}">
      <img class="main_link_img" src="/imgs/man_64.png">
      <label>Profile</label>
    </a>
    <a class="item" href="/camera">
      <img class="main_link_img" src="/imgs/photo_64.png">
      <label>Camera</label>
    </a>
  </div>


  <div class="row">
    <!-- <div class="small-1 columns">
      <img class="toggle-menu" id="menu-bar" src="imgs/toggle-menu-2.png">
      <div id="main_visual_links">
        <table>
          <tr>
            <td>
              <div id="blog" class="main_visual_links">
                <a href="/all">
                  <img class="main_link_img" src="imgs/globe_64.png">
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td class="top-needed">
              <div id="blog" class="main_visual_links">
                <a href="/">
                  <img class="main_link_img" src="imgs/home_64.png">
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td class="top-needed">
              <div id="blog" class="main_visual_links">
                <a href="{{pathFor 'userProfile' _id='{{Meteor.user()._id}}' }}">
                  <img class="main_link_img" src="imgs/man_64.png">
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td class="top-needed">
              <div id="blog" class="main_visual_links">
                <a href="/camera">
                  <img class="main_link_img" src="imgs/photo_64.png">
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  -->

    <div class="large-12 columns" id="map-canvas">
    </div>
  </div>

</template>